on: [push]

jobs:
  hello_world_job:
    runs-on: self-hosted
    name: Run CxFlow
    steps:
      - name: Hello world action step
        id: hello
        uses: james-bostock-cx/checkmarx-cxflow-js-github-action@v0.1.0
